* {
 padding: 0;
 margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
 }

body {
  text-align: center;
  background-color: #333;
  font-family: "Bitter",serif;
 }

div#crest {
  width: 8em;
  height: 8em;
  padding: 0.8em;
  border-radius: 50%;
  border-width: 0.2em;
  border-color: white;
  border-style: solid;
  position: relative;
  left: 50%;
  margin: 4em 3em 0 -5em;
 }

div#crest img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
 }

div#headline {
  width: 100%;
  color: white;
 }
 
div#headline h1#title {
  font-size: 4em;
  padding: 0.4em 0.3em 0.2em 0.3em;
  font-weight: normal;
  font-family: "Ovo",serif;
 }

div#headline p#caption {
  position: relative;
  width: 20.5em;
  left: 50%;
  margin-left:-10em;
  font-size: 2em;
  font-weight: normal;
  font-family: "Ovo",serif;
 }

div#links {
  position: relative;
  width: 35em;
  left: 50%;
  margin: 4em 0 6em -18em;
  padding-bottom: 5em;
 }

div#links ul {
  list-style: outside none;
 }
 
div#links ul li {
  float: left;
  width: 5em;
  height: 5em;
  color: white;
  font-weight: bold;
  margin: 1em;
 }
 
div#links ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: dodgerblue;
 }
 
div#links ul li:hover a {
  position: relative;
  left: -0.5em;
  top: -0.5em;
  width: 120%;
  height: 120%;
  transition: width 0.5s;
  transition: height 0.5s;
  transition: left 0.5s;
  transition: top 0.5s;
 }
 
div#links ul li a img{
  width: 3em;
  margin: 1em;
 }

div#links ul li:hover a img {
  width: 4em;
  transition: width 0.5s;
 }

div#links ul li a span.desc {
  display: none;
  position: relative;
  top: 1.5em;
  padding: 0.5em;
  background-color: dodgerblue
 }
 
div#links ul li:hover a span.desc {
  display: inline;
 }
 
div#links ul li:hover a span.desc:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 0.5em 0.5em 0.5em;
  border-color: dodgerblue transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -0.5em;
  margin-left: -0.35em;
  left: 50%;
}
 
/*div#links ul li:hover a img {
  display: none;
 }*/
 
div#menu {
  position: fixed;
  top: 1em;
  right: 1em;
  color: white;
  font-size: 2em;
 }

div#menu p a {
  text-decoration: none;
  display: block;
  width: 1.5em;
  height: 1.3em;
  padding-top: 0.1em;
 }
 
div#donate {
  position: fixed;
  right: 5em;
  bottom: 0em;
  width: 6em;
  height: 6em;
  transition: bottom 0.5s;
 }

@media (max-height: 55em) {
  @media (max-width: 65em) { div#donate { right: 2em; } } 
  @media (max-width: 58em) { div#donate { right: 1em; } }
  @media (max-width: 53em) { div#donate { display: none } }
 }

@media (max-height: 25em) { div#donate { display: none } } 
 
div#donate a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5em 1em 1em 1em;
 }
 
div#donate a img {
  width: 4em;
 }
 
div#donate a span {
  display: none;
  color: white;
  font-weight: bold;
 }
 
div#donate:hover {
  bottom: 5em;
  transition: bottom 0.5s;
 }
 
div#donate:hover a span {
  display: block;
  position: absolute;
  width: 6em;
  bottom: 3em;
  background-color: #ff5454;
  padding: 0.2em 0.1em;
 }

div#donate:hover a span:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 1em 1em 0 0;
  border-color: #ff5454 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -1em;
  left: 4em;
}
